# Please use android/.gitignore for all Android stuff

.vscode/
3party/
tools/

# build

data/
build/
build-release/
data-bak/
data-server/
ftdat/
geojson_file/
readme.txt
replenish-ftdat/
replenish-generate/
replenish-geojson/
road-info/
tmp/
using-ftdat.json

